registry =http://registry.npmmirror.com  ## 淘宝镜像
shamefully-hoist=true  ## 一般教程都是这样配置的：shamefully-hoist=true，但本人不推荐。这样做会把里面的依赖提升到全局node_module里面，有可能出现幽灵依赖的风险。 如果某些工具仅在根目录的node_modules时才有效，可以将其设置为true来提升那些不在根目录的node_modules，就是将你安装的依赖包的依赖包的依赖包的...都放到同一级别（扁平化）。说白了就是不设置为true有些包就有可能会出问题。 作者：
strict-peer-dependencies=false ## 涉及到关于package.json peerDependencies 配置项的问题 的问题

